<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AgenciaMV · Contacto</title>
    <!-- Global Styles -->
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/contact.css" />
    <link rel="stylesheet" href="../styles/variables.css" />
    <link rel="stylesheet" href="../styles/from.css" />
  </head>
  <body>
    <app-header
      link_index="../index.html"
      link_services="./services.html"
      link_contact="#"
    ></app-header>

    <main>
      <!-- De momento aquí, luego mover a un componente -->
      <section id="contact" class="container-form">
        <div class="title-container">
          <h2>Contacta con nosotros</h2>
          <p>Impulsa tu negocio con nuestra ayuda. Contáctanos hoy.</p>
        </div>
        <form
          class="form"
          enctype="application/x-www-form-urlencoded"
          method="POST"
          name="from-contact"
          action=""
        >
          <h3>FORMULARIO DE CONTACTO</h3>
          <div class="section-form">
            <div class="input-container">
              <label for="name">Nombre</label>
              <input id="name" name="name" type="text" />
            </div>
            <div class="input-container">
              <label for="lastname">Apellidos</label>
              <input id="lastname" name="lastname" type="text" />
            </div>
          </div>
          <div class="section-form">
            <div class="input-container">
              <label for="company">Empresa (Opcional)</label>
              <input id="company" name="company" type="text" />
            </div>
          </div>
          <div class="section-form">
            <div class="input-container">
              <label for="cargo">Cargo en la empresa</label>
              <input id="cargo" name="cargo" type="text" />
            </div>

            <div class="input-container">
              <label for="tel">Teléfono</label>
              <input id="tel" name="tel" type="text" />
            </div>

            <div class="input-container">
              <label for="email">Mail</label>
              <input id="email" type="text" name="email" />
            </div>
          </div>
          <div class="section-form">
            <div class="input-container">
              <label for="message">Mensaje</label>
              <textarea id="message" name="message"></textarea>
            </div>
          </div>
          <div class="consent">
            <input type="checkbox" id="consent" name="check-box" />
            <label for="consent">
              He leído y acepto <strong>las políticas de privacidad</strong> y
              el <strong>aviso legal</strong>
            </label>
          </div>
          <div class="section-form">
            <button type="submit" id="submit">Solicitar más información</button>
          </div>
        </form>
      </section>
    </main>

    <app-footer
      link_index="../index.html"
      link_services="./services.html"
      link_contact="#"
    ></app-footer>

    <script src="../js/mods/scrollreveal.min.js"></script>
    <!-- Module Script -->
    <script type="module" src="../js/main.js"></script>
  </body>
</html>
