
/* Los @use de SCSS no existen en CSS puro.
   Si necesitas dividir archivos, se usaría @import (no recomendado hoy en día) */

/* Reset */
* {
  box-sizing: border-box;
}

.no-select {
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(
    180deg,
    var(--bg-white) 0%,
    var(--light-green) 100%
  );

}

html {
  scroll-behavior: smooth;
}

.text-secondary {
  color: rgba(214, 214, 214, 0.806);
}

.text-white {
  color: #fff;
}

.basic-btn {
  width: 200px;
  height: 30px;
  background-color: #4b5cf0;
  color: rgb(232, 229, 229);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s ease;
}

.basic-btn:hover {
  background-color: #369ff5;
}
